/*******************************************************************************
CUSTOM STYLES

Add your custom CSS styles here to override or extend the default styles.
*******************************************************************************/


* {
    font-family: 'Source Han Serif CN' !important;


}

:lang(en) p {
    hyphens: auto !important;
    hyphenate-character: '-';
}


:lang(zh) p {
    text-align: left !important;
}

.heading-en {
    font-style: normal !important;
}

code,
code span {
    font-family: consolas !important;
}

h2 {
    margin-top: 2em !important;
    position: relative;
    display: inline-block;
    z-index: 1;
}

h2::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 34%;
    background-color: #17808a20;
    z-index: -1;
}

html,
body {
    margin: 0 !important;
}

body>article>section>div {
    width: 87.3% !important;
}

div[style*="border-inline-start"],
li figure[role="math"] {
    font-size: 1em;
}

footer {
    margin-bottom: 2em !important;
}

figure[role="math"] {
    width: 100% !important;
}